#bio
  #links
    %a{ :href=>"mailto:odibazo@gmail.com", :id=>"linkmail", :class=>"link"}
    %br
    %a{ :target=>"_blank", :href=>"http://www.odibazo.com", :id=>"linkpage", :class=>"link"}
    %a{ :target=>"_blank", :href=>"http://www.flickr.com/photos/odibazo", :id=>"linkflickr", :class=>"link"}
    %a{ :target=>"_blank", :href=>"http://www.youtube.com/odibazo", :id=>"linkyou", :class=>"link"}
    %a{ :target=>"_blank", :href=>"http://quierocreer.com", :id=>"linktumb", :class=>"link"}
    %a{ :target=>"_blank", :href=>"", :id=>"phone", :class=>"link"}