%img{ :src=>"/images/bg_sectionIndex.png", :width=>"979", :height=>"483", :border=>"0", :usemap=>"#Map2"}
%map{ :name=>"Map2", :id=>"Map2"}
  %area{ :shape=>"rect", :coords=>"135,255,304,290", :href=>"#", :target=>"_blank", :alt=>"download cv+"}
  %area{ :shape=>"rect", :coords=>"132,379,295,391", :href=>"http://www.odibazo.com", :target=>"_blank", :alt=>"www.odibazo.com"}
  %area{ :shape=>"rect", :coords=>"132,391,393,403", :href=>"http://www.flickr.com/photos/odibazo", :target=>"_blank", :alt=>"www.flickr.com/photos/odibazo"}
  %area{ :shape=>"rect", :coords=>"132,403,352,416", :href=>"http://www.youtube.com/odibazo", :target=>"_blank", :alt=>"www.youtube.com/odibazo"}
  %area{ :shape=>"rect", :coords=>"131,416,351,428", :href=>"http://www.quierocreer.tumblr.com", :target=>"_blank", :alt=>"www.quierocreer.tumblr.com"}