!!! Strict
%html
  %head
    %title Odi Bazó
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %script{:src=>"http://code.jquery.com/jquery-1.4.2.min.js", :type=>"text/javascript"}
    %script{:src=>"/scripts/slimbox2.js", :type=>"text/javascript"}
    %link{ :rel => "stylesheet", :type =>"text/css", :href=>"../stylesheets/style.css"}
    %link{ :rel => "stylesheet", :type =>"text/css", :href=>"../stylesheets/slimbox2.css"}
  %body
    #wrapper
      #logo
      #menu
        %img{ :src=>"/images/menu.png", :border=>"0", :usemap=>"#Map"}
        %map{ :name=>"Map", :id=>"Map"}
          %area{ :shape=>"rect", :coords=>"3,5,58,21", :href=>"/bio", :alt=>"BIO+CV" }
          %area{ :shape=>"rect", :coords=>"3,22,58,41", :href=>"/photo", :alt=>"PHOTO" }
          %area{ :shape=>"rect", :coords=>"3,41,58,65", :href=>"/print", :alt=>"PRINT" }
          %area{ :shape=>"rect", :coords=>"3,65,58,87", :href=>"/paint", :alt=>"PAINT" }
          %area{ :shape=>"rect", :coords=>"3,86,58,109", :href=>"/video", :alt=>"VIDEO" }
      = yield
